.nav_item{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.logoImg{
    margin-right: 20px;
}
.banner{
    height: 800px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.banner:before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 800px;
    content: '';
    /* 오른쪽으로 갈수록 어두워 지도록 그라데이션 */
    background: linear-gradient(to right , black,transparent);
}
.banner_info{
    width: 600px;
    color: white;
    margin-left: 40px;
    z-index: 1;
}
.movieCard{
    width: 280px;
    height: 155px;
    border-radius: 3px;
}
.overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    color: aliceblue;
}
.movieCard:hover .overlay{
    opacity: 1;
    background: rgba(41, 41, 41, 0.659);
    width: 100%;
    height: 100%;
}
.movieCard:hover{
    transform: scale(1.1);
}
.genre{
    margin-left: 10px;
}
body{
    background-color: rgb(11, 11, 11) !important;
}
body h2{
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loading{
    position: relative;
    left: 45%;
}


